VITE_SUPABASE_URL=https://ghauswrbebkupxgjtono.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdoYXVzd3JiZWJrdXB4Z2p0b25vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEzOTY4NzYsImV4cCI6MjA4Njk3Mjg3Nn0._5zZPupJ45WP2T8q1mXYO87GNxw8c6JDST0PxyAPpIE
